body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #ecebeb;
  color: #1e1e1e;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue,
    Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: var(--bs-body-text-align);
}

header {
  display: block;
  width: 100%;
}

.head {
  background-color: #fff !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  position: relative;
}
.p-0 {
  padding: 0 !important;
}

.navbar-brand {
  white-space: nowrap;
}

.logo-nav {
  margin-left: 250px;
  margin-right: -400px;
}

.logo-nav img {
  width: 100px;
}

ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
}
li {
  float: left;
}

li a {
  display: block;
  color: #1e1e1e;
  font-weight: 500;
  text-align: center;
  padding: 10px 6px;
  text-decoration: none;
}
li a:hover {
  color: #79c142;
}

.search {
  margin-right: 10%;
  position: relative;
}

.box {
  height: 35px;
  border-radius: 5px;
  border-color: antiquewhite;
}
.my-5 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

.logo-index .mainer {
  margin-top: 3%;
  margin-left: 37%;
}

.logo-index img {
  width: 40%;
  height: 73;
}

.mainSearch {
  margin-left: 5%;
  margin-top: -5%;
}
.box2 {
  height: 50px;
  width: 50%;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  padding-left: 15px;
}

.mainSearch .btnSearch {
  width: 75px;
  height: 50px;
  border: none;
  margin-left: -75px;
  background-color: #79c142;
}

.mainSearch .btnSearch a {
  color: #fff;
  text-decoration: none;
}
.oldbtn {
  width: 23%;
  height: 50px;
  background-color: #79c142;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 35%;
}

.oldbtn a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  padding: 8px;
}

.detail-list {
  padding: 10px 100px 0px 100px;
}

.detail-list h2,
h4 {
  margin-bottom: -15px;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-column {
  width: 30%;
  margin: 0 10px;
  padding: 10px;
  box-sizing: border-box;
}

.footer-column h3 {
  font-size: 1.2em;
  margin: 20px;
  margin-bottom: -20px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 20px;
  width: 70px;
}

.footer-list li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #ccc;
}

.footer-column .subs {
  margin-left: -2px;
  margin-bottom: 0;
}
.subscribe {
  display: flex;
  flex-direction: column;
  position: relative;
}

.subscribe input {
  padding: 8px;
  width: 75%;
  margin-bottom: 10px;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.disclaimer {
  font-size: 0.9em;
}

.colu {
  display: flex;
}

.subscribe .sub {
  position: relative;
  width: 100px;
  height: 35px;
  margin-top: -45px;
  margin-left: 330px;
  border: none;
  color: #fff;
  background-color: #79c142;
}
